@model ML.Pokemon
<div class="modal fade" id="ModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title" id="ModalEmpleado">Pokemon Detalle</h4>
                        </div>

                        <div class="modal-body">
                            <form>
                                @foreach (ML.Pokemon pokemon in Model.stats.Stats){
                                <div class="form-group">
                                     <img class="card-img-top bg-opacity-75" id="Img" src="@pokemon.Sprites.front_default"alt="Card image cap" />
                                </div>
                                <div class="form-group">
                                    <p class="card-text">'#00+@pokemon.Id'</p> 
                                    <p>@pokemon.stats.base_stat</p>
                                    <p>@pokemon.stats.name</p>
                        </div>
                       
                                 
                    }
                    }
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CerrarModal()">Cancelar</button>
                        </div>
                    </div>
                </div>
         </div>
   