html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
header{
    box-shadow: 0 0 2rem -1rem rgba(0,0,0,.5)
}
.nav{
    display:flex;
    flex-direction:column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline:1rem;
}
.nav-list{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:.5rem;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: white;
}
.card-img-top {
    background-color: #C0C0C0;
}
:root{
    type-normal: #A8A878;
    type-fire: #e76407;
    type-water: #6890F0;
    type-fighting: #c90404;
    type-electric: #f9d820;
    type-flying: #cb62f9;
}
ul{
    list-style-type: none;
}
button{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.btn-sm{
    background-color:gray;
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight:600;
    box-shadow: 0 0 1rem rgba(0,0,0,.25);
}
.todos{
    background-color:beige;
    color: black;
}
.normal {
    background-color: #A8A090;
    color: black;
}
.fighting {
    background-color: #c90404;
    color: black;
}
.flying {
    background-color: #cb62f9;
    color: black;
}
.dragon {
    background-color: #7860E0;
    color: white;
}
.electric {
    background-color: #F8D030;
    color: black;
}
.ice {
    background-color: #58C8E0;
    color: black;
}
.rock {
    background-color: #B8A058;
    color:white;
}
.poison {
    background-color: #B058A0;
    color: white;
}
.ground{
    background-color: #E0C068;

}
.bug {
    background-color: #A8B820;
    color: black;
}
.ghost {
    background-color: #6060B0;
    color: white;
}
.steel {
    background-color: #A8A8C0;
    color: black;
}
.fire {
    background-color: #98A8F0;
    color: black;
}
.water {
    background-color: #3899F8;
    color: black;
}
.grass {
    background-color: #78C850;
    color: black;
}
.psychic {
    background-color: #F870A0;
    color: black;
}
.dark{
    background-color: #705848;

}
.fairy {
    background-color: #E79FE7;
    color: black;
}
